.restaurant-section{
    padding: 20px;
}

.grey-color-bg {
    background-color: #e8e9eb;
}

.left-section{
    padding-left: 60px;
}

.grey-color-font{
    color: grey;
}

.menu-cart-section {
    display: flex;
    flex-direction: row;
    width: '100%';
}

.menu {
    width: 52%;
}

.cart {
    width: 40%;
}

 .space-for-cart {
    width: 8%
} 

.padding-5percent {
    padding: 5%;
}

.padding-2per-left {
    padding-left: 60px;
}
.restaurant-details-container{
    display: flex;
    align-items: center;
    padding: 25px;
    background-color: rgb(231, 231, 231)
}

@media screen and (max-width:600px){
    .restaurant-details-container{
        flex-direction: column;
    }
    .restaurant-details{
        text-align: center;
    }
    .restaurant-avg-cost-container{
        margin-left: auto;
    }
    .restaurant-rating{
        align-self: center;

    }
    .restaurant-avg-cost{
        place-content: center;
    }
}

.restaurant-rating-cost-container{
    display: flex;
    align-items: center;
}

@media screen and (min-width:600px){
    .restaurant-details{
        margin-left: 75px;
        width: 100%;
    }
}

.restaurant-avg-cost-container{
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.restaurant-rating{
    display: flex;
    align-items: baseline;
}

.restaurant-avg-cost{
    display: flex;
    align-items: baseline; 
}

.restaurant-rating-container{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:1000px){
    .restaurant-avg-cost-container{
        margin-left: 350px;
    }
}

.restaurant-NoOfCustomerRated{
    font-weight: bold;
}

.item-price{
    display:flex;
    align-items: baseline;
    margin-left: auto;
}

#cart-item-price{
    color: grey;
}

#minus-button{
    margin-left:auto;
}

#cart-menu-item-name{
    width:150px;
    margin-left: 40px;
    color: grey;
}

.menu-item-container{
    display: flex;
    align-items: center;
}

.cart-menu-item-container{
    display: flex;
    align-items: center;
}

.total-price{
    display:flex;
    align-items: baseline;
}

.total-amount-container{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

#cart-total-price{
    font-weight: bold;
}

.menu-details-cart-container{
    display: flex;
    padding: 30px;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: space-between;
}

@media screen and (min-width:600px){
    .menu-details{
     width:45%;
	}
    .my-cart{
        width: 45%;
    }
}

@media screen and (max-width:600px){
    .menu-details-cart-container{
       flex-direction: column;
       margin-left: 16px;
       margin-right: 16px;
       padding: 0px;

    }
    .menu-details{
        width:100%;
    }
    .my-cart{
        width: 100%;
        padding-top: 30px;
    }
}

.quantity-container{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.shoppingCart {
    color: 'black';
    background-color: 'white';
    width: '60px';
    height: '50px';
    margin-left: '-20px';
}